<script type="text/javascript">
    requirejs(['jquery'], function(jQuery) {
        jQuery('#category_picker').trigger('contentUpdated');
    });
</script>
<div id="category_picker">
    {{ category_picker|raw }}
</div>
